.wrapper {
  display: flex;
  margin-bottom: 36px;
  justify-content: space-between;
  padding: 0 28px;
}

.title {
  font-size: 34px;
}

.select {
  width: 250px;
  height: 52px;
  border-radius: 8px;
  padding: 0 8px;
  font-size: 18px;
  border: 1px solid cadetblue;
  cursor: pointer;
  transition: border-color 300ms ease-in;
}

.select:hover {
  border-color: #4A7373;
}