.eventsList {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.eventsList > li {
  width: calc((100% - 20px) / 2);
  height: 258px;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}