.header {
  width: 100%;
  height: 96px;
  padding: 24px 0;
  border-bottom: 1px solid cadetblue;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  transition: border-color 300ms ease-in;
}

.header:hover {
  border-color: #4A7373;
}

.navigation {
  width: 1440px;
  padding: 0 128px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.navLink {
  position: relative;
  height: 100%;
  font-size: 24px;
  font-weight: 600;
  color: cadetblue;
  width: fit-content;
  padding-right: 72px;
  padding-left: 20px;
  align-content: center;
  transition: color 300ms ease-in;
}

.navLink:hover {
  color: #4A7373;
}

.navLink::before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: transparent;
  bottom: 0;
  left: 50%;
  transition: background-color 300ms ease-in, left 300ms ease-in;
}

.navLink.activeLink::before {
  background-color: cadetblue;
  left: 0;
}

.navLink:hover:before {
  background-color: #4A7373;
  left: 0;
}